*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html , body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: indianred;
}

.display{
    background-color: white;
    height: 550px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
}


/* logo */
.logo{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topFeatures i{
    font-size: 25px;
    margin: 5px;
}

.logo img{
    width: 35%;
    height: 70px;
}





/* // stories  */
#stories{
    height: 80px;
    border-bottom: 1px solid grey;
    padding: 10px;
    padding-bottom: 10px;
    white-space:nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    transition: all ease 0.1s;
}
#stories::-webkit-scrollbar{
    display: none;
    
}

/* user-story  */
.story{
    height: 60px;
    width: 60px;
    border: 2px solid red;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 2px;
}
/* story-profile-img  */
.story img{
    border-radius: 50%;
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}
/* inside-story-img  */
.view-story {
    width: 95%;
    height: 100%;
    display: none;
    background-color: white;
    object-position: center;
}
/* inside-story-img-opening-container  */
.storyseen{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease;
    margin: 0 7px;
    border-radius: 10px;
}





/* Posts  */
.posts{
    width: 100%;
    height: 380px;
    overflow-y: scroll;
}

.posts::-webkit-scrollbar{
    display: none;
}

/* post-card  */
.post{
    margin: 10px 7px;
    height: 100%;
    width: 95%;
    border-radius: 10px;
    overflow-wrap: nowrap;
    border: 1px solid grey;
}

/* post-profile  */
.user-details{
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}
.dp-and-username{
    display: flex;
    align-items: center;
}
.dp-and-username img{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.dp-and-username p{
    margin-left: 10px;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}
.threedot{
    margin-right: 10px ;
}

/* image-post */
.user-post{
    width: 100%;
    height: 80%;
    /* background-color: rgb(174, 123, 61); */
    position: relative;

}
.user-post img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
}

/* post-features  */
.features{
    border-top: 1px solid grey;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.features i{
    font-size: 25px;
    margin-right: 5px;
}
.like:hover{
    color: red;
}
.comment:hover{
    color: rgb(180, 180, 69);
}
.share:hover{
    color: rgb(44, 44, 155);
}


/* pop-heart  */
.fade{
    color: #fff;
    margin: 10px 0;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.8;
    transition: all ease 0.2s;
}












/* Navigation  */
.navigation{
    position: sticky;
    width: 100%;
    height: 40px;
    display: flex;
    border-top: 1px solid grey;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}
.navigation i{
    font-size: 25px;
}
